body {
    font-family: Arial, sans-serif;
    background: #f6f6f6;
    margin: 0;
    padding: 20px;
  }

  .container {
    max-width: 1100px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  input, select, button {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    background: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .bought {
    text-decoration: line-through;
    color: gray;
  }
  #lists-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .shopping-list {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px 15px;
    width: 300px;
    background: #f9f9f9;
  }
  
  .shopping-list h3 {
    margin-top: 0;
  }
  
  .shopping-list ul {
    list-style: none;
    padding: 0;
  }
  
  .shopping-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    align-items: center;
    font-size: 14px;
  }
  
  .shopping-list li.bought {
    text-decoration: line-through;
    color: gray;
  }
  
  .shopping-list button {
    margin-left: 5px;
    font-size: 10px;
  }
  
  .delete-list-btn {
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-list-btn:hover {
    background-color: #ff1a1a;
  }

  .item-add-btn {
    margin-left: 0;
    padding: 5px;
  }
  .item button {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
  }
  .item-toggle-btn {
    margin-left: auto;
  }
  .list-delete-btn {
    padding: 5px;
    background: red;
    border: none;
    border-radius: 5px;
    color: white;
  }